.App {
  text-align: center;
}

.project {
  background-color: black;
  width: 50vw;
  margin: 0 auto;
  color: white;
  border-radius: 8px;
  padding: 20px 0;
  margin-bottom: 20px;
}
form {
  margin-bottom: 20px;
}